body {
    width: 900px;
    margin:0 auto;
}

main {
    background-color: rgb(219, 197, 159);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: block;
    background-color: rgb(228, 149, 13);
    text-align: left;
    font-size: 3em;
    margin-bottom: 0px;

}
header form {
    float: right;
}
header form input{
    margin-left: -0.5px;
}

figure img {
    float: top;
}

nav {
    height: 20px;
}
nav ul {
    margin: -0.5px;
    background-color: rgb(228, 149, 13);
    padding: 5px;

}
nav ul li {
    display: inline-block;
    list-style: none;
    
    
}
nav ul li a {
    font-size: 1.3em;
    text-decoration: none;
    color: black;
    padding: 4px 20px;
}
nav ul li a:hover {
    background-color: rgb(228, 184, 110);
}

#lateral {
    display:block;
    float: right;
    width: 300px;
}

article {
    width: 550px;
}
#igredientes li {
    list-style-image: url("img/icon_bolo.png");
}

section ul li {
    list-style: none;
    padding: 4px;
}
section ul li a {
    text-decoration: none;
}
section ul li a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
}